# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=97f3d8c318f27cbf8715b9cbec8ad47a
###< symfony/framework-bundle ###

# docker параметры

# Порт, через который будет доступен проект
NGINX_PORT=8800

# Следущий блок переменных определяет пользователя/группу под которым будут работать php-fpm,composer, а следовательно и
# собираться кеши, писаться логи symfony и другие файлы, чтобы не возникло ошибок доступа, когда они были созданы
# в одном котейнере и потом к ним нельзя получить write доступ с хостовой машины или из другого котейнера
# HOST_UID можно получить коммандой id -u
HOST_UID=1000

POSTGRES_USER=user
POSTGRES_PASSWORD=user_reslim2021
POSTGRES_DB=reslim

DATABASE_URL="postgresql://user:user_reslim2021@api-db:5432/reslim?serverVersion=13&charset=utf8"

MAILER_DSN=mandrill+api://KEY@default
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

MESSENGER_TRANSPORT_DSN=doctrine://default
